<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SwipeCHEF</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/css/inloggen.css}" rel="stylesheet">
</head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="grid-container3">

            <div class="item1">
                <p id="logo">__swipeChef</p>
            </div>
            <div class="item2">
                <ul>
                    <li><a href="/gebruiker/inloggen">Inloggen</a></li>
                    <li><a href="mijnKookboek">Mijn kookboek</a></li>
                    <li><a href="/recepten">Recepten</a></li>
                    <li><a href="/index">Home</a></li>
                </ul>
        </div>
        <div class="item3" id="recepten">
            <br>
            <label id="gerecht-naam"></label>
            <br>
            <div id="recept">
                <div id="test">
                    <div id="legediv"></div>
                    <nav id="receptgegevens">
                        <p id="gerecht-bereidingswijze"></p>
                        <p id="gerecht-bereidingstijd"></p>
                        <br>
                        <ul id="gerecht-ingredienten" style="display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            background-color: #f2eded;
                            list-style: none;
                            flex-direction: column">
                        </ul>
                    </nav>
                </div>
                <br>
                <button id="nietopslaan">nee, dankje</button>
                <button id="welopslaan">ja, lekker</button>
            </div>
        </div>
    </div>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/js/gerecht.js}"></script>
</body>

</html>