<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="swipeChef inloggen">
    <meta name="keywords" content="swipeChef, inloggen">
    <meta name="author" content="Ilse van Dellen">
    <meta name="viewport" , content="width=device-width, initial-scale=1.0">
    <title>Inloggen</title>
    <link th:href="@{/css/inloggen.css}" rel="stylesheet">
</head>

<body>
<div class="grid-container1">
    <div class="item1">
        <p id="logo">__swipeChef</p>
    </div>
    <div class="item2">
        <ul>
            <li><a href="/gebruiker/inloggen">Inloggen</a></li>
            <li><a href="mijnKookboek">Mijn kookboek</a></li>
            <li><a href="recepten">Recepten</a></li>
            <li><a href="/gebruiker/index">Home</a></li>
        </ul>
    </div>
    <div class="item3" id="inloggen">

        <form name="form" action="http://localhost:8080/gebruiker/inloggen" method="post">
            <label>Inloggen</label>
            <div class="container">
                <label>
                    <input type="text" placeholder="E-mailadres" name="email" autofocus>
                </label>
                <label>
                    <input type="password" placeholder="Wachtwoord" name="wachtwoord">
                </label>
                <button type="submit" value="submit" onsubmit="return validateEmail()">Log in</button>
                <button type="submit" formaction="http://localhost:8080/gebruiker/registreren" method="post">Maak account aan</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/inloggen.js}"></script>
</body>
</html>

